#content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    overflow-y: hidden;
    padding-top: 150px;

}

.game {
    min-height: 200px !important;
    width: 750px !important;
    border: 3px solid #212529;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

}

.result {
    min-height: 100px !important;
    width: 750px !important;
    border: 3px solid #212529;
    border-radius: 10px;
    margin-top: 25px;

}

#question {
    font-size: 26px;
}

.middle {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
